@import url('https://fonts.googleapis.com/css2?family=Arial');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial;
    min-height: 100vh;
}

footer{
    margin-top: auto;
}

.logo{
    width: 75px;
    height: auto;
    margin-left: 2em;
    padding-top: 1em;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-right: 2em;
    gap: 1em;
    margin-top: -1em;
}

.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.first-section-box{
    display: flex;
    justify-content: space-between;
}

.presentation{
    margin-left: 2em;
    margin-top: 3em;
}

.presentation-image{
    width: 500px;
    height: auto;
    margin-right: 2em;
}

.presentation-button{
    padding: 0.5em 2em;
    border-radius: 0.5em;
    border-style: none;
    background-color: brown;
    color: white;
    margin-top: 1em;
    font-size: 1em;
}

.title{
    margin-bottom: 0.5em;
    font-size: 3em;
}

header{
    background-color: rgb(82, 82, 255);
    padding-bottom: 8em;
    color: white;
}

.presentation p{
    font-size: 1.5em;
}

.hero-container img{
    width: 200px;
    height: auto;
}

.content h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
    margin-top: 1em;
}

.heroes-container{
    display: flex;
    justify-content: center;
    gap: 4em;
}

.hero-container{
    text-align: center;
}

.content{
    background-color: lightgoldenrodyellow;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
    background-color: lightgray;
    padding: 5em 0;
}

.quote{
    width: 20em;
    font-size: 2em;
    font-style: italic;
}

.author{
    width: fit-content;
    margin-left: auto;
    font-weight: bold;
}